@font-face {
  font-family: 'Neue Haas';
  src: url('/NeueHaas.otf');
}

*{
  margin:0;
  padding:0;
  line-height:1.65;
  box-sizing:border-box;
  color:white;
  font-family: 'Neue Haas';

}

html{
  background-color:#000012;
}

a {
  color: inherit;
  text-decoration: none;
}

img{
  width: 100%;
}