.hero{
}


.mobile, .desktop{
  width:100%;
  object-fit: contain;
}
.container{
  max-width: 768px;
  margin:auto;
}

.main{
  display:grid;
  grid-template-columns: 1rem 1fr 1rem;
  gap:40px 0;

}

.main img:not(.mockup){
  grid-column: 2/3;
}


.mockup{
  grid-column: 1/4;
  height: 530px;
  aspect-ratio: 499/265;
  object-fit: cover;
}

.footer *{
  width:200%;
}

.links{
  grid-column: 2/3;
  display:grid;
}

.links a{
  display: flex;
  height: 100%;
  width: 100%;
  transition: .5s;
}

.links a:hover{
  filter:saturate(2);
}

@media screen and (min-width:768px){
  .main{
  grid-template-columns: 150px auto 150px;
  }

  .links{
    padding: 0 1rem;
    grid-column: 1/4;
    flex-direction: row;
    gap:40px;
  }
}