.hero{
  position:relative;
  z-index: 1;
}


.mobile, .desktop{
  width:100%;
  object-fit: contain;
}
.container{
  max-width: 768px;
  margin:auto;
}

.main{
  display:grid;
  grid-template-columns: 1rem 1fr 1rem;
  gap:40px 0;

}

.main img:not(.mockup){
  grid-column: 2/3;
}


.mockup{
  grid-column: 1/4;
  height: 530px;
  aspect-ratio: 499/265;
  object-fit: cover;
  margin-top:-50px
}

.footer *{
  width:200%;
}

.links{
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.hover{
  position:relative;
  width:100%;
}

.hover img{
  position:absolute;
  inset:0;
}

.links > * {
  grid-column: 1;
}

.links a{
  display: flex;
  height: 100%;
  width: 100%;
  transition: .5s;
}

.divider{
  width:40px;
  margin:auto;
}

@media screen and (min-width:768px){
  .main{
  grid-template-columns: 150px auto 150px;
  }

  .links{
    padding: 0 1rem;
    grid-column: 1/4;
    gap:40px;
    display: grid;
  }
}